{% extends "base.html" %}

{% block title %}
Admin Settings | {{ title }}
{% endblock %}

{% block content %}
<div class="min-h-screen ">
  <div class="flex">
    <!-- Sidebar (improved with categories) -->
    <aside id="application-sidebar-brand"
           class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full xl:rtl:-translate-x-0 rtl:translate-x-full  left-0 rtl:left-auto xl:rtl:right-5 rtl:right-0 transform hidden xl:block xl:translate-x-0 xl:end-auto xl:bottom-0 fixed top-0 with-vertical  left-sidebar transition-all duration-300 h-screen z-[2] flex-shrink-0  w-[270px] border-border dark:border-darkborder bg-white dark:bg-dark xl:top-5 xl:start-5 shadow-md xl:rounded-md">
      <!-- Brand Logo -->
      <div class="p-3.5 flex justify-center">
        <div class="brand-logo d-flex align-items-center justify-center">
          <a href="{{ url_for('index') }}" class="text-nowrap logo-img">
            <img src="{{ url_for('static', filename='images/logo-shade_blue.png') }}" class="block h-32" alt="Logo-Dark" />
          </a>
        </div>
      </div>
      <div class="scroll-sidebar" data-simplebar="">
        <div class="px-4  mini-layout" data-te-sidenav-menu-ref>
          <nav class="hs-accordion-group w-full flex flex-col">
            <ul data-te-sidenav-menu-ref id="sidebarnav">
              <!-- HOME -->
              <div class="caption">
                <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center leading-[16px]"></i>
                <span class="hide-menu">HOME</span>
              </div>
              <li class="sidebar-item">
                <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('index') }}">
                  <iconify-icon icon="mdi:home-outline" class="text-xl p-2"></iconify-icon>
                  <span class="hide-menu flex-shrink-0">Home</span>
                </a>
              </li>

              <!-- Dashboard Link -->
              {% if current_user.is_authenticated %}
                <li class="sidebar-item">
                  {% if current_user.user_type == 'Admin' %}
                    <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('admin.admin_dashboard') }}">
                  {% elif current_user.user_type == 'PI' %}
                    <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('pi.faculty_dashboard') }}">
                  {% elif current_user.user_type == 'Student' %}
                    <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('student.studentProfile') }}">
                  {% elif current_user.user_type == 'Industry' %}
                    <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('industry.industry_dashboard') }}">
                  {% elif current_user.user_type == 'Vendor' %}
                    <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('vendor.vendor_dashboard') }}">
                  {% endif %}
                    <iconify-icon icon="mdi:view-dashboard-outline" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Dashboard</span>
                  </a>
                </li>
              {% endif %}

              {% if current_user.is_authenticated and current_user.user_type == 'Student' %}
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('student.student_profile') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Student Profile</span>
                  </a>
                </li>
              {% endif %}

              {% if current_user.is_authenticated and current_user.user_type == 'PI' %}
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('pi.view_pi_profile') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Profile</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('pi.publications') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Publications</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('pi.technologies') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Technologies</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('pi.research_facilities') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Research Facilities</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('pi.basic_info') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Basic Information</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('pi.projects') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Projects</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('pi.team_members') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Team Members</span>
                  </a>
                </li>
              {% endif %}

              {% if current_user.is_authenticated and current_user.user_type == 'Vendor' %}
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('vendor.vendorProfile') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Vendor Profile</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('pi.technologies') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Technologies</span>
                  </a>
                </li>
              {% endif %}

              {% if current_user.is_authenticated and current_user.user_type == 'Industry' %}
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('industry.industryProfile') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Industry Profile</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('pi.technologies') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Technologies</span>
                  </a>
                </li>
              {% endif %}

              {% if current_user.is_authenticated and current_user.user_type in ['PI', 'Student'] %}
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('pi.education') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Education</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('pi.experience') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Experience</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('pi.skills') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Skills</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('pi.awards') }}">
                    <iconify-icon icon="solar:smart-home-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Awards</span>
                  </a>
                </li>
              {% endif %}

              {% if current_user.is_authenticated and current_user.user_type == 'Admin' %}
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('admin.add_institute') }}">
                    <iconify-icon icon="mdi:school-outline" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Institutes</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('admin.adminfaculty') }}">
                    <iconify-icon icon="mdi:account-tie-outline" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Faculty</span>
                  </a>
                </li>
                 <!-- New Students Sidebar Item -->
                                    <li class="sidebar-item">
                                        <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('admin.adminstudents') }}">
                                            <iconify-icon icon="mdi:account-school-outline" class="text-xl p-2"></iconify-icon>
                                            <span class="hide-menu flex-shrink-0">Students</span>
                                        </a>
                                    </li>

                 <!-- New Verification Section -->
                                    <div class="caption">
                                        <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center leading-[16px]"></i>
                                        <span class="hide-menu">Accounts for Verification</span>
                                    </div>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('admin.verify_accounts') }}">
                                            <iconify-icon icon="mdi:shield-check-outline" class="text-xl p-2"></iconify-icon>
                                            <span class="hide-menu flex-shrink-0">Pending Verifications</span>
                                        </a>
                                    </li>                    

              {% endif %}

              <!-- Opportunities -->
              <div class="caption">
                <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center leading-[16px]"></i>
                <span class="hide-menu">Opportunities</span>
              </div>

              {% if current_user.is_authenticated %}
                {% if current_user.user_type != 'Admin' %}
                  <li class="sidebar-item">
                    <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('my_opportunities') }}">
                      <iconify-icon icon="solar:lightbulb-bolt-broken" class="text-xl p-2"></iconify-icon>
                      <span class="hide-menu flex-shrink-0">My Opportunities</span>
                    </a>
                  </li>
                {% endif %}

                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('find_opportunities') }}">
                    <iconify-icon icon="solar:magnifer-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Find Opportunities</span>
                  </a>
                </li>
              {% endif %}

                {% if current_user.is_authenticated and current_user.user_type == 'Admin' %}
                <li class="sidebar-item">
                  <a class="sidebar-link before:bg-lightindigo hover:text-indigo" href="{{ url_for('admin.admin_opportunities') }}">
                    <iconify-icon icon="solar:lightbulb-bolt-broken" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu flex-shrink-0">Manage Opportunities</span>
                  </a>
                </li>


                <!-- Admin Settings Categories (improved with accordions) -->
                <div class="caption">
                  <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center leading-[16px]"></i>
                  <span class="hide-menu">Admin Settings</span>
                </div>

                <!-- User Settings Accordion -->
                <li class="hs-accordion sidebar-item" id="user-settings-accordion">
                  <a class="cursor-pointer hs-accordion-toggle sidebar-link before:bg-lightindigo hover:text-indigo">
                    <iconify-icon icon="solar:user-id-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu">User Settings</span>
                    <span class="hide-menu ms-auto">
                      <i class="ti ti-chevron-right text-lg me-4 leading-tight hs-accordion-active:hidden"></i>
                      <i class="ti ti-chevron-up text-lg ms-auto hs-accordion-active:block hidden z-10 relative me-4"></i>
                    </span>
                  </a>
                  <div class="hs-accordion-content">
                    <ul class="hs-accordion-group">
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.user_types') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">User Types</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.account_statuses') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Account Statuses</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.verification_statuses') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Verification Statuses</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.profile_types') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Profile Types</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.visibility_settings') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Visibility Settings</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.genders') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Genders</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.research_profiles') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Research Profiles</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.current_statuses') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Current Statuses</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.team_sizes') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Team Sizes</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.proficiency_levels') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Proficiency Levels</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>

                <!-- Institute Settings Accordion -->
                <li class="hs-accordion sidebar-item" id="institute-settings-accordion">
                  <a class="cursor-pointer hs-accordion-toggle sidebar-link before:bg-lightindigo hover:text-indigo">
                    <iconify-icon icon="ic:baseline-business" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu">Institute Settings</span>
                    <span class="hide-menu ms-auto">
                      <i class="ti ti-chevron-right text-lg me-4 leading-tight hs-accordion-active:hidden"></i>
                      <i class="ti ti-chevron-up text-lg ms-auto hs-accordion-active:block hidden z-10 relative me-4"></i>
                    </span>
                  </a>
                  <div class="hs-accordion-content">
                    <ul class="hs-accordion-group">
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.institute_ownerships') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Institute Ownerships</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.institute_types') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Institute Types</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.admin_settings_departments') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Departments</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.institute_autonomous') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Institute Autonomous</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.current_designations') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Current Designations</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.degrees') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Degrees</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.universities') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Universities</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.colleges') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Colleges</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>

                <!-- Opportunity Settings Accordion -->
                <li class="hs-accordion sidebar-item" id="opportunity-settings-accordion">
                  <a class="cursor-pointer hs-accordion-toggle sidebar-link before:bg-lightindigo hover:text-indigo">
                    <iconify-icon icon="solar:lightbulb-bolt-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu">Opportunity Settings</span>
                    <span class="hide-menu ms-auto">
                      <i class="ti ti-chevron-right text-lg me-4 leading-tight hs-accordion-active:hidden"></i>
                      <i class="ti ti-chevron-up text-lg ms-auto hs-accordion-active:block hidden z-10 relative me-4"></i>
                    </span>
                  </a>
                  <div class="hs-accordion-content">
                    <ul class="hs-accordion-group">
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.opportunity_types') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Opportunity Types</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.opportunity_domains') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Opportunity Domains</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.opportunity_eligibilities') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Opportunity Eligibilities</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.opportunity_statuses') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Opportunity Statuses</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.compensation_currencies') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Compensation Currencies</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.csr_fund_categories') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">CSR Fund Categories</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.durations') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Durations</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.compensation_types') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Compensation Types</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.application_statuses') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Application Statuses</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>

                <!-- Research & Tech Settings Accordion -->
                <li class="hs-accordion sidebar-item" id="research-tech-settings-accordion">
                  <a class="cursor-pointer hs-accordion-toggle sidebar-link before:bg-lightindigo hover:text-indigo">
                    <iconify-icon icon="solar:atom-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu">Research & Tech Settings</span>
                    <span class="hide-menu ms-auto">
                      <i class="ti ti-chevron-right text-lg me-4 leading-tight hs-accordion-active:hidden"></i>
                      <i class="ti ti-chevron-up text-lg ms-auto hs-accordion-active:block hidden z-10 relative me-4"></i>
                    </span>
                  </a>
                  <div class="hs-accordion-content">
                    <ul class="hs-accordion-group">
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.sectors') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Sectors</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.equipment_types') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Equipment Types</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.dealing_categories') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Dealing Categories</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.funding_agencies') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Funding Agencies</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.team_positions') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Team Positions</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.publishers') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Publishers</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.skill_types') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Skill Types</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.research_areas') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Research Areas</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.trl_levels') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">TRL Levels</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.ip_statuses') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">IP Statuses</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.licensing_intents') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Licensing Intents</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>

                <!-- Other Settings Accordion -->
                <li class="hs-accordion sidebar-item" id="other-settings-accordion">
                  <a class="cursor-pointer hs-accordion-toggle sidebar-link before:bg-lightindigo hover:text-indigo">
                    <iconify-icon icon="solar:settings-line-duotone" class="text-xl p-2"></iconify-icon>
                    <span class="hide-menu">Other Settings</span>
                    <span class="hide-menu ms-auto">
                      <i class="ti ti-chevron-right text-lg me-4 leading-tight hs-accordion-active:hidden"></i>
                      <i class="ti ti-chevron-up text-lg ms-auto hs-accordion-active:block hidden z-10 relative me-4"></i>
                    </span>
                  </a>
                  <div class="hs-accordion-content">
                    <ul class="hs-accordion-group">
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.annual_turnovers') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Annual Turnovers</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.warranty_statuses') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Warranty Statuses</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.working_statuses') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Working Statuses</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.project_statuses') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Project Statuses</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.team_statuses') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Team Statuses</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.message_statuses') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Message Statuses</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.notification_types') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Notification Types</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.notification_read_statuses') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Notification Read Statuses</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.csr_availabilities') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">CSR Availabilities</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.currently_pursuing_options') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Currently Pursuing Options</span>
                        </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('admin.currently_working_options') }}">
                          <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50"></div>
                          <span class="hide-menu">Currently Working Options</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              {% endif %}

              <!-- Explore (from original base.html) -->
              <!-- <li class="hs-accordion sidebar-item " id="explore-accordion">
                <a class="cursor-pointer hs-accordion-toggle sidebar-link  before:bg-lightindigo hover:text-indigo ">
                  <iconify-icon icon="solar:smart-speaker-minimalistic-line-duotone" class="text-xl p-2"></iconify-icon>
                  <span class="hide-menu">Explore</span>
                  <span class="hide-menu ms-auto">
                    <i class="ti ti-chevron-right text-lg me-4 leading-tight hs-accordion-active:hidden "></i>
                    <i class="ti ti-chevron-up text-lg ms-auto hs-accordion-active:block hidden z-10 relative me-4"></i>
                  </span>
                </a>
                <div class="hs-accordion-content ">
                  <ul class="hs-accordion-group ">
                    <li class="dropdown-submenu">
                      <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('search', category='profiles', query='') }}">
                        <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50 "></div>
                        <span class="hide-menu">Research Labs</span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('search', category='profiles', query='') }}">
                        <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50 "></div>
                        <span class="hide-menu">Industry Partners</span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('search', category='profiles', query='') }}">
                        <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50 "></div>
                        <span class="hide-menu">Vendors</span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a class="hs-accordion-toggle textlink dark:opacity-70" href="{{ url_for('search', category='opportunities', query='') }}">
                        <div class="w-1.5 h-1.5 rounded-full bg-dark dark:bg-darklink opacity-50 "></div>
                        <span class="hide-menu">Research Positions</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li> -->

            </ul>
          </nav>
        </div>
      </div>
    </aside>
    <!-- Main content area -->
    <main class="flex-1 " style="width: 100%">
      {% block admin_content %}
      {% endblock %}
    </main>
  </div>
</div>
{% endblock %}